  <!-- Page Wrapper -->
  <div id="wrapper">

   {{> menu}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       {{> cabezote}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
     

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4 border-left-primary">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Modulo III - Alimentación Saludable</h6>
               
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                   <div class="col-md-5">
                     <div class="card">
                       <div class="card-header text-center"><h1>Lectura</h1></div>
                       <div class="card-body text-center">
                         <div class="form-group">
                         <h3>Alimentación Saludable</h3>
                         <a href="/curso/modulo-III/alimentacion_saludable.pdf" download class="btn btn-danger btn-block btn-sm">Descargar PDF</a>
                         </div>
                         <div class="form-group">
                           <img src="/img/modulo-III/imagen-5.jpg" class="img-thumbnail">
                         </div>
                         <hr class="p-2">                  
                        
                       </div>
                     </div>
                   </div>

                   <div class="col-md-7">
                     <div class="card">
                       <div class="card-header text-center"><h1>Videos</h1></div>
                       <div class="card-body">
                         <div class="form-group">
                           <h3>Alimentación saludable</h3>
                           <iframe width="100%" height="200" src="https://www.youtube.com/embed/CRGK-nHq7cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                         <div class="form-group">
                           <h3>10 alimentos saludables</h3>
                           <iframe width="100%" height="200" src="https://www.youtube.com/embed/0XJeYkN5m64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                       </div>
                     </div>
                   </div>
              
                     <div class="col-md-7 p-4 mx-auto">
                     <div class="card">
                      
                       <div class="card-header"><h3>Trabajo Práctico</h3></div>
                       <div class="card-body">
                          <p>Trabajo Práctico n°4</p>
                          <a href="/curso/modulo-III/TP_N3.docx" download class="btn btn-primary btn-block btn-sm">Descargar WORD</a>
                          <hr>
                         <span>Subir Trabajo Practico</span>
                           <form action='/cms/modulo-1' method="POST" enctype="multipart/form-data">
                         
                             <div class="form-group">
                               <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                             </div>
                             <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                             </div>
                             <div class="input-group mb-3">
                                <div class="custom-file">
                                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile02" required>
                                  <label class="custom-file-label" for="inputGroupFile02">Subir archivo</label>
                                </div>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-success btn-block btn-sm">
                                Enviar
                              </button>
                            </div>
                         </form>
                         {{> messages}}
                       </div>
                     </div>
                   </div>
              
                   
                 </div>
                </div>
              </div>
            </div>

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  
      {{> footer}}


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{{>logout}}