    <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Academia de Niñeras 2020 | Desarrollado por: <a href="http://gonzalovidal.site" target="_blank"> Gonzalo Vidal</a></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->