 <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="inicio">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-book-open"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Academia de Niñeras</div>
      </a>


      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/cms/inicio">
          <i class="fas fa-fw fa-chalkboard-teacher"></i>
          <span>Inicio</span></a>
      </li>
       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-1">
          <i class="fas fa-fw fa-baby"></i>
          <span>Modulo I</span></a>
      </li>

       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-2">
          <i class="fas fa-fw fa-child"></i>
          <span>Modulo II</span></a>
      </li>

       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-3">
          <i class="fas fa-fw fa-carrot"></i>
          <span>Modulo III</span></a>
      </li>

       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-4">
          <i class="fas fa-fw fa-user-md"></i>
          <span>Modulo IV</span></a>
      </li>

       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-5">
          <i class="fas fa-fw fa-toilet-paper"></i>
          <span>Modulo V</span></a>
      </li>

       <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/cms/modulo-6">
          <i class="fas fa-fw fas fa-suitcase"></i>
          <span>Moduo VI</span></a>
      </li>

        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
            <a class="nav-link" href="/cms/etapa-final">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Examen Final</span></a>
        </li>

         <hr class="sidebar-divider my-0">
         <br>

         <a href="/cms/subir-cv" class="btn btn-success btn-block btn-sm"><i class="fas fa-cloud-upload-alt"></i> Subir CV</a>









    

     

    
     

      

    </ul>
    <!-- End of Sidebar -->