
  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h3>Ni침eras al Rescate</h3>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/users/signin">Iniciar Sesi칩n</a>
      </li>
       <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/users/signup">Registrarse</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger btn btn-primary btn-block btn-sm"  href="http://ni침erasalrescate.com" target="_blank">Ir a p치gina principal</a>
      </li>
    </ul>
  </nav>