
  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="/img/academia.png" class="img-thumbnail" style="height: 100px; width: 100%">
      </li>
      <hr>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/users/signin">Iniciar Sesión</a>
      </li>
       <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/users/signup">Registrarse</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger btn btn-secondary btn-block btn-sm"  href="http://niñerasalrescate.com" target="_blank">Ir a página principal</a>
      </li>
    </ul>
  </nav>